<a href="https://colab.research.google.com/github/RobSouzaUFPE/ScriptPython/blob/main/Primeirospassos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.plotting.register_matplotlib_converters()

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
import seaborn as sns

In [6]:
print("Setup Complete")

Setup Complete

In [8]:
pd.read_csv('WorldCupPlayers.csv')

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [18]:
fifa_filepath = "WorldCupPlayers.csv"

In [20]:
fifa_data = pd.read_csv(fifa_filepath, index_col="Team Initials", parse_dates=True)

In [21]:
fifa_data.head()

,RoundID,MatchID,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
Team Initials,,,,,,,,
FRA,201,1096,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
MEX,201,1096,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
FRA,201,1096,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
MEX,201,1096,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
FRA,201,1096,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN